---
import Config from "../main.config.cjs";


const allPosts = await Astro.glob("../pages/posts/*.md");

let allYears = allPosts
  .filter((f) => f.frontmatter.pubDate != undefined && f.frontmatter.draft != true)
  .map((p) => new Date(p.frontmatter.pubDate).getFullYear().toString());

let allYearsUnique = [...new Set(allYears.flat())];

const { currentYear } = Astro.props;
---
<form>
    <fieldset>
        <legend>Archive Year Selection</legend>
        <div>
            <select class="select" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                {currentYear?.toString()=="" 
                    ? <option disabled selected>{Config.i18n.archive.select}</option>
                    : <option disabled>{Config.i18n.archive.select}</option>}
                {allYearsUnique.map((year) =>
                    currentYear?.toString() == year 
                        ? <option selected>{year}</option>
                        : <option value={`/archive/${year}`}>{year}</option>
                    
                )}
            </select>
        </div>
    </fieldset>
</form>