---
import BlogPost from '../components/blogInfo.astro';
import Headers from "../components/headers.astro";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";


const {content} = Astro.props;
const {title, description, pubDate, author} = content;
---
<html lang={ content.lang || 'en' }>
  <Headers title="OTS Blog Posts" />
  <main>
    <div class="container">
      <Nav />
      <BlogPost title={title} description={description} author={author} pubDate={pubDate}>
        <slot />
      </BlogPost>
      <Footer />
    </div>
  </main>
</html>